html, body {
width: 100%;
height:100%;
}

#button {
height:40px;
width:100px;
background-color: rgb(230,230,230);
color:black;
font-size:1em;
margin: 10px auto;
text-align:center;
border-color:black;
border-radius: 3px;
}

#button:hover {
	cursor:pointer;
	background-color: rgb(230,230,250);
}

span {
margin-top:10px;
display:inline-block;
}

.square {
  display: inline-block;
  background-color: black;
  width:inherit;
  height:inherit;
}

table, tbody, tr {
display:block;
margin: 0px auto;
}

table div {
	width:1200px;
	height:500px;
	margin: 0 auto;
}

#container {
width:800px;
height:600px;
margin: 0 auto;
}

.red{
background-color:red;
}